.Board {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
  background: #ccc;
  position: absolute;
}

.controls {
  margin-top: 10px;
  text-align: center;
}

.generation {
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.button {
  cursor: pointer;
  margin-left: 20px;
  border-radius: 5px;
}

.input {
  margin-right: 12px;
  margin-left: 12px;
}
